Origin: XBian
Package: xbian-package-a2dp
Version: 1.1
Section: audio
Priority: optional
Architecture: armhf
Depends: bluez,alsa-base,alsa-utils
Maintainer: <development@xbian.org>
Description: a2dp alsa audio sink
